<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"><?define cems_TargetDir=$(var.cems.TargetDir)?>
	<Product Id="c67a9b01-f941-4655-8747-9dac77939d62" Name="Computer Equipment Management System" Language="1033" Version="1.0.0.0" Manufacturer="Public Health Emergency Operations Coodination Center" UpgradeCode="67eed871-4049-4429-ae5b-e4183d36bdf3">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of cems is already installed." />
		<MediaTemplate EmbedCab="yes"/>

		<Feature Id="ProductFeature" Title="cems" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentRef Id="ApplicationShortcut" />
			<ComponentRef Id="ApplicationShortcutDesktop" />
			<ComponentRef Id="RemoveStuff"/>
			<ComponentGroupRef Id="ProgramFilesFolder_files" />
			<ComponentRef Id="MySQLInstallerComponent"/>
			
		</Feature>
		<Icon Id="icon.ico" SourceFile="$(var.ProjectDir)resources/Icon.ico" />
		<Property Id="ARPPRODUCTICON" Value="icon.ico" />

		<WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)resources/license.rtf" />

		<UI>
		  <UIRef Id="WixUI_Minimal" />
		
			<Publish Dialog="ExitDialog"
				 Control="Finish" 
				 Event="DoAction" 
				 Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed
			</Publish>
		</UI>
	
		<Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch cems" />
	
		<Property Id="WixShellExecTarget" Value="$(var.cems_TargetDir)cems.exe" />
		<CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />
		
		<!--<CustomAction Id="InstallMySQL" Directory="INSTALLFOLDER" ExeCommand='"$(var.cems_TargetDir)Resources\mysql-installer-community.msi" /quiet' Execute="deferred" Impersonate="no" Return="check" />-->

		<InstallExecuteSequence>
		
			<Custom Action="LaunchApplication" After="InstallFiles">Launch</Custom>
<!--			<Custom Action="InstallMySQL" Before="LaunchApplication" >NOT Installed</Custom>-->
		</InstallExecuteSequence>
	
	</Product>
	

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="cems" />
			</Directory>
			<Directory Id="DesktopFolder" Name="Desktop" />
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="cems">
					<Directory Id ="InstallResources" Name ="Resources"/>
				</Directory>
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<DirectoryRef Id="ApplicationProgramsFolder">
			<Component Id="ApplicationShortcut" Guid="5f90602f-b43d-4da6-91b0-6fcdfea29008">
				<Shortcut Id="ApplicationStartMenuShortcut" Name="Computer Equipment Management System" Description="This is a computer equipment management system to be used by IT managers" Target="[INSTALLFOLDER]cems.exe" WorkingDirectory="INSTALLFOLDER" />
				<RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\cems" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="DesktopFolder">
			<Component Id="ApplicationShortcutDesktop" Guid="5372bb61-68bb-4aad-b2d6-c9ce2a62e3a6">
				<Shortcut Id="ApplicationDesktopShortcut"  Name="Computer Equipment Management System" Description="This is a computer equipment management system to be used by IT managers" Target="[INSTALLFOLDER]cems.exe" WorkingDirectory="INSTALLFOLDER" />
				<RemoveFolder Id="RemoveDesktopFolder" Directory="DesktopFolder" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\cems" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</DirectoryRef>
		<!--<DirectoryRef Id="INSTALLFOLDER">-->
			<!--<Component Id="RemoveStuff" Guid="8eef8089-fa78-4b02-b318-abc026b933e8">-->
				<!--<RemoveFolder Id="RemoveINSTALLFOLDER" Directory ="INSTALLFOLDER" On="uninstall" />-->
			<!--</Component>-->
		<!--</DirectoryRef>-->
	</Fragment>

	<Fragment>
		
		
		<DirectoryRef Id="INSTALLFOLDER">
			<Component Id="RemoveStuff" Guid="f0d5bf70-694a-423e-86ee-f7fc1e786bad" >
				<RemoveFile Id="RemoveAdditionalFile" Name="connectionString.txt" On="uninstall"  />
			</Component>
		</DirectoryRef>

	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
			<Component Id="cems.exe" Guid="55d6eb50-40a5-4910-bddd-9be1eace1846">
			  <File Id="cems.exe" Name="cems.exe" Source="$(var.cems_TargetDir)cems.exe" />
			</Component>
			<Component Id="cems.exe.config" Guid="9d0eb349-c13a-4434-954f-d1087a0d363f">
			  <File Id="cems.exe.config" Name="cems.exe.config" Source="$(var.cems_TargetDir)cems.exe.config" />
			</Component>
			<Component Id="MySql.Data.dll" Guid="8100d8f7-c2fa-4a25-ba21-b72e73faa603">
			  <File Id="MySql.Data.dll" Name="MySql.Data.dll" Source="$(var.cems_TargetDir)MySql.Data.dll" />
			</Component>
			<Component Id="BCrypt.Net.dll" Guid="b07b284b-48dc-4b6f-b28c-f34439b2a8b3">
			  <File Id="BCrypt.Net.dll" Name="BCrypt.Net.dll" Source="$(var.cems_TargetDir)BCrypt.Net.dll" />
			</Component>
			<Component Id="Google.Protobuf.dll" Guid="fd174dd5-fd83-4551-b1a4-e8c1b3af2c98">
			  <File Id="Google.Protobuf.dll" Name="Google.Protobuf.dll" Source="$(var.cems_TargetDir)Google.Protobuf.dll" />
			</Component>
			<Component Id="System.Memory.dll" Guid="b38d9ef8-468f-4e87-88f7-d36d2de3c765">
			  <File Id="System.Memory.dll" Name="System.Memory.dll" Source="$(var.cems_TargetDir)System.Memory.dll" />
			</Component>
			<Component Id="System.Numerics.Vectors.dll" Guid="1f976b8a-9b3b-4afd-957c-e3ccedeff09d">
			  <File Id="System.Numerics.Vectors.dll" Name="System.Numerics.Vectors.dll" Source="$(var.cems_TargetDir)System.Numerics.Vectors.dll" />
			</Component>
			<Component Id="System.Runtime.CompilerServices.Unsafe.dll" Guid="8e040b3e-5c09-4f70-b29b-16200f6811e6">
			  <File Id="System.Runtime.CompilerServices.Unsafe.dll" Name="System.Runtime.CompilerServices.Unsafe.dll" Source="$(var.cems_TargetDir)System.Runtime.CompilerServices.Unsafe.dll" />
			</Component>
			<Component Id="System.Buffers.dll" Guid="7f8d60b2-b5a6-4448-a086-9b5113787970">
			  <File Id="System.Buffers.dll" Name="System.Buffers.dll" Source="$(var.cems_TargetDir)System.Buffers.dll" />
			</Component>
			<Component Id="K4os.Compression.LZ4.Streams.dll" Guid="b3f2d0cf-3c90-4a02-9772-500331058539">
			  <File Id="K4os.Compression.LZ4.Streams.dll" Name="K4os.Compression.LZ4.Streams.dll" Source="$(var.cems_TargetDir)K4os.Compression.LZ4.Streams.dll" />
			</Component>
			<Component Id="K4os.Compression.LZ4.dll" Guid="1246c048-e0af-4109-ac78-dc21aab13322">
			  <File Id="K4os.Compression.LZ4.dll" Name="K4os.Compression.LZ4.dll" Source="$(var.cems_TargetDir)K4os.Compression.LZ4.dll" />
			</Component>
			<Component Id="System.IO.Pipelines.dll" Guid="a5f741b4-74fe-49a1-935b-5660582cda95">
			  <File Id="System.IO.Pipelines.dll" Name="System.IO.Pipelines.dll" Source="$(var.cems_TargetDir)System.IO.Pipelines.dll" />
			</Component>
			<Component Id="System.Threading.Tasks.Extensions.dll" Guid="af6356ea-b869-4a48-b83a-b914848763fb">
			  <File Id="System.Threading.Tasks.Extensions.dll" Name="System.Threading.Tasks.Extensions.dll" Source="$(var.cems_TargetDir)System.Threading.Tasks.Extensions.dll" />
			</Component>
			<Component Id="K4os.Hash.xxHash.dll" Guid="b5944040-06a3-463a-9636-0ae80281722b">
			  <File Id="K4os.Hash.xxHash.dll" Name="K4os.Hash.xxHash.dll" Source="$(var.cems_TargetDir)K4os.Hash.xxHash.dll" />
			</Component>
			<Component Id="BouncyCastle.Crypto.dll" Guid="cab4fad1-d769-4197-8740-2ae89df87523">
			  <File Id="BouncyCastle.Crypto.dll" Name="BouncyCastle.Crypto.dll" Source="$(var.cems_TargetDir)BouncyCastle.Crypto.dll" />
			</Component>
			
	
		</ComponentGroup>
	</Fragment>
	<Fragment>
	  <ComponentGroup Id="ProgramFilesFolder_files" Directory="ProgramFilesFolder">
	    <Component Id="aa_cems.resources.dll" Guid="7f6887aa-f887-4958-92b1-65ec2d46323b">
	      <File Id="aa_cems.resources.dll" Name="cems.resources.dll" Source="$(var.cems_TargetDir)aa\cems.resources.dll" />
	    </Component>
	  </ComponentGroup>
	</Fragment>

	<Fragment>
		<DirectoryRef Id="InstallResources">
			<Component Id="MySQLInstallerComponent" Guid="4f1f0698-7775-4fc6-80fe-e4fb5dac2ae5">
				<File Source="$(var.cems_TargetDir)Resources\mysql-installer-community.msi" />
			</Component>
		</DirectoryRef>
	</Fragment>
	
</Wix>
